{% extends 'theme.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/profilCompte.css' %}">
  
{% endblock %}
{% block content %}

 <!-- Content -->
            <section class="content-profil-wrapper">
                <div class="content-profil">
                  <p class="title-profil">
                      Profil public
                  </p>
                </div>
                <div class="profil-wrapper">
                    <div class="profil-bg">
                        <div class="profil">
                            <div class="image">
                               {% if  association.image %}
                          <img class="profil-image"  src="{{  association.image.url }}"
                               alt="photo de profil" >
                          {% else %}
                          <img class="profil-image"  src="{% static "images/avatar.png"%}" alt="photo de profil par défaut">
                        {% endif %}
                            </div>
                            <div class="profil-text">
                                    <div class="fullname">
                                        <h1 class="profil-fullname">
                                            {{ association.nom_association|default_if_none:''}}
                                        </h1>
                                    </div>
                                <h1 class ="profil-info"> Information générale </h1>
                               
                                
                                <p class="profil-paragraph"><span class="underline">Dirigeant</span>: {{ association.last_name|default_if_none:''}} {{ association.first_name|default_if_none:''}}</p>
                                <p class="profil-paragraph"><span class="underline">Adresse du siège social</span>: {{ association.siege_social|default_if_none:''}}</p>
                                <p class="profil-paragraph"><span class="underline">Date de création</span>: {{ association.date_creation|default_if_none:''}}</p>
                                <p class="profil-paragraph"><span class="underline">Numéro de téléphone</span>: {{ association.phone_number|default_if_none:''}}</p>
                                <p class="profil-paragraph"><span class="underline">Email</span>:  {{ association.email|default_if_none:''}}</p>
                               
                                <h1 class="profil-info">Aide</h1>
                                <p class="profil-paragraph"><span class="underline">Activité</span>: {{ association.activite|default_if_none:''}}</p>
                                <h1 class="profil-info">Description</h1>
                                <p class="profil-paragraph">
                                    {{ association.description|default_if_none:''}}
                                </p>
                            </div>
                        </div>
                  </div>
                </div>
                
              </section>
            <!-- End of Content -->


{% endblock content %}



            



