{% extends 'theme.html' %}
{% load static %}
{% block content %}
{% load static %}

        <!-- Content -->
            <section class="content-profil-wrapper">
                <div class="content-profil">
                  <p class="title">
                      Profil public de l'association
                  </p>
                </div>
                <div class="profil-wrapper">
                  <div class="profil-bg">
                    <div class="profil">
                        <div class="image">
                            <img 
                            src="{% static 'images/avatar.png'%}" 
                            alt="Customer image"
                            class="profil-image"
                          />
                        </div>

                      <div class="profil-text">
                            <div class="fullname">
                                <h1 class="profil-fullname">
                                    {{association.nom_association}}
                                </h1>
                            </div>
                        <h1 class ="profil-info"> Information générale </h1>
                        <p class="profil-paragraph rna">
                            Fondateur : {{association.first_name}} {{association.last_name}}
                        </p>
                        <p class="profil-paragraph metier">
                            Adresse du siège social :{{association.siege_social}}
                        </p>
                        <p class="profil-paragraph mail">
                            Date de création : {{association.date_creation}}
                        </p>
                        <p class="profil-paragraph dateNais">
                            Numéro de téléphone : {{association.phone_number}}
                        </p>
                        <h1 class="profil-info interet">
                            Aide
                        </h1>
                        <p class="profil-paragraph acitvite">
                            Activité : {{association.activite}}
                        </p>
                        <h1 class="profil-info">
                            Description
                        </h1>
                        <p class="profil-paragraph blabla">
                            {{association.description}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            <!-- End of Content -->

{% endblock content %}




            



