{% extends 'theme.html' %}
{% load static %}
{% block content %}
<!-- Content -->
<section class="content-profil-wrapper">
    <div class="content-profil">
        <p class="title">
            Mon compte
            <a href="{% url 'edit_association'%}" class="navbar-link center">Modifier profil</a>
             <a href="{% url 'delete_user' user.id %}" class="navbar-link center">Supprimer mon compte</a>
        </p>
    </div>
    <div class="profil-wrapper">
        <div class="profil-bg">
        <div class="profil">
            <div class="image">
                <img 
                src="{% static 'images/avatar.png'%}" 
                alt="Customer image"
                class="profil-image"
                />
            </div>

            <div class="profil-text">
                <div class="fullname">
                    <h1 class="profil-fullname">
                        {{user.association.nom_association}}
                    </h1>
                </div>
            <h1 class ="profil-info"> Information générale </h1>
            <p class="profil-paragraph rna">
                Numéro RNA : {{user.association.num_rna}}
            </p>
            <p class="profil-paragraph rna">
                Fondateur : {{user.association.last_name}} {{user.association.first_name}}
            </p>
                <p class="profil-paragraph rna">
                Email : {{user.association.email}}
            </p>
            <p class="profil-paragraph metier">
                Adresse du siège social :{{user.association.siege_social}}
            </p>
            <p class="profil-paragraph mail">
                Date de création : {{user.association.date_creation}}
            </p>
            <p class="profil-paragraph dateNais">
                Numéro de téléphone : {{user.association.phone_number}}
            </p>
            <h1 class="profil-info interet">
                Aide
            </h1>
            <p class="profil-paragraph acitvite">
                Activité : {{user.association.activite}}
            <h1 class="profil-info">
                Description
            </h1>
            <p class="profil-paragraph blabla">
               {{user.association.description}}
            </p>
            </div>
        </div>
        </div>
    </div>
</section>
<!-- End of Content -->


{% endblock content %}



            



