
{% extends 'theme.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/editerCompteEtMaraude.css' %}">

{% endblock %}
{% block content %}


           
          



<!-- Content -->
            <h1 class="center title-edit">Editer votre profil bénévole</h1>
            <div class="center">
                <div class="form-edit">
                    <form method="POST" >
                        {% csrf_token %}
                        <fieldset>
                            <legend>Modifier mot de passe</legend>
                            <label>
                                <span>Ancien mot de passe</span>
                                  {{ form.old_password }}
                            </label>
                            <label>
                                <span>Nouveau mot de passe</span>
                                  {{ form.new_password1 }}
                            </label>
                            <label>
                                <span>Confirmer</span>
                                 {{ form.new_password2 }}
                            </label>
                            <label>
                                <input class="form-btn-creation" type="submit" value="Valider"/>
                            </label>
                            
                        </fieldset>
                        
                        
                        
                    </form>
                </div>
            </div>
            <!-- End of Content -->
            <!-- End of Content -->
{% endblock content %}

