{% extends 'theme.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper-right"> 
    <form method="POST" class="content-creation-form">
        {% csrf_token %}

        <h1 class="content-creation-title-right">Modifier mon mot de passe</h1>
    
        {{ form.old_password.label }}
        {{ form.old_password }}

        {{ form.new_password1.label }}
        {{ form.new_password1 }}

        {{ form.new_password2.label }}
         {{ form.new_password2 }}

        <button class="btn btn-primary">Valider</button>
    </form>
</div>                 
  
{% endblock content %}

