{% extends 'theme.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/loginPassword.css'%}" />
{% endblock %}
{% block content %}





             <!-- Content -->
            <div class="wrapper fadeInDown">
                <div class="formContent">
                    <!-- Titles -->
                    <h2 class="fadeIn first title-log-mdp"> Se connecter </h2>

                    <!-- Icon -->
                    <div class="fadeIn second">
                        <img src="{% static 'images/icon.png'%}" style="width:35px" alt="Icon" />
                    </div>

                    <!-- Login Form -->
                    <form method="POST" class="content-creation-form user">
                        {% csrf_token %}
                        {{form.username|add_class:"fadeIn second"|attr:"type:email"|attr:"id:login"|attr:"placeholder:Adresse mail"}}
                        {{form.password|add_class:"fadeIn third"|attr:"type:password"|attr:"id:password"|attr:"placeholder:Mot de passe"}}
                        <input type="submit" class="fadeIn fourth" value="Valider">
                    </form>

                    <!-- Forget Passowrd -->
                    <div class="formFooter">
                         <a href="{% url 'reset_password' %}" class="underlineHover">Mot de passe oublié ?</a>
                    </div>
                </div>
              </div>
            <!-- End of Content -->
{% endblock content %}

         
