{% extends 'theme.html' %}
{% load static %}
{% block content %}

    <div class="content-creation-wrapper-left">
        <div class="content-creation-title-left">
            <h1 class="title-left">
                Votre temps est votre plus <br/> importante contribution
            </h1>
        </div>
        <div class="content-creation-image">
            <img
            src="{% static 'images/personnage_logo.png' %}" 
            alt="Header Image"
            class="header-image"
            />
        </div>
    </div>
    <div class="content-wrapper-right">
        <form method="POST" class="content-creation-form user">
            {% csrf_token %}
            <h1 class="content-creation-title-right">
                Se connecter
            </h1>
            <div class="content-creation-input">
                <label for="{{ form.email }}">Adresse mail:</label>
                {{form.username}}
            </div>
            <div class="content-creation-input">
                <label for="{{ form.pasword.id_for_label }}">Mot de passe:</label>
                {{form.password}}
            </div>
            <div class="content-creation-forget">
                <a href="#" class="content-creation-password">Mot de passe oublié ?</a>
            </div>
            <input type="submit" value="Valider" class="form-btn"/>
        </form>
    </div>

            <!-- End of Content -->
{% endblock content %}

         
