{% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>

        <p class="text-center" >{{ message }}</p> 

    </div>
{% endfor %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}

<form method="POST">    
    {% csrf_token %}
    {{form.first_name.label}}
    {{form.first_name}}
    {{form.first_name.error}}

     {{ form_user.username.as_hidden  }}


    {{form.last_name.label}}
    {{form.last_name}}
    {{form.last_name.error}}

    {{form.email.label}}
    {{form.email}}
    {{form.email.error}}


    {{form.password1.label}}
    {{form.password1}}
    {{form.password1.error}}


    {{form.password2.label}}
    {{form.password2.error}}
    {{form.password2}}
    <button type="submit">Valider</button>

</form> 