{% extends 'theme.html' %}
{% load static %}
{% block content %}
<!-- Content -->
<div class="content-creation-wrapper">
    <div class="content-wrapper-right">
        <form method="POST" class="content-creation-form">
        {% csrf_token %}
            <h1 class="content-creation-title-right">
                Editer votre profil association
            </h1>
            <div class="content-creation-input">
                <label>{{form_edit_association.nom_association.label}}</label>
                {{form_edit_association.nom_association}}
            </div>
            <div class="content-creation-input">
                <label>{{form_edit_association.first_name.label}}</label>
                {{form_edit_association.first_name}}
            </div>
            <div class="content-creation-input">
                <label>{{form_edit_association.last_name.label}}</label>
                {{form_edit_association.last_name}}
            </div>
            <div class="content-creation-input">
                <label>{{form_edit_association.siege_social.label}}</label>
                {{form_edit_association.siege_social}}
            </div>
            <div class="content-creation-input">
                <label>{{form_edit_association.phone_number.label}}</label>
                {{form_edit_association.phone_number}}
            </div>
            <div class="content-creation-input">
                <label>{{form_edit_association.email.label}}</label>
                {{form_edit_association.email}}
            </div>
            <div class="content-creation-input">
                <label>{{form_edit_association.activite.label}}</label>
                {{form_edit_association.activite}}
            </div>
            <div class="content-creation-input">
                <label>{{form_edit_association.description.label}}</label>
                {{form_edit_association.description}}
            </div>

            <div class="content-creation-forget">
                <input type="submit" value="Valider" class="form-btn"/>
            </div>
        </form>
    </div>
</div>
<!-- End of Content -->

{% endblock content %}

