{% extends 'theme.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/mes_maraudes.css' %}">
 
{% endblock %}
{% block content %}



<!-- Content -->
<div class="content-creation-wrapper">
    <section class="maraude-tours">
        <h1 class="maraude-tours-heading">Liste des maraudes</h1>
        <div class="maraude-wrapper">
            
            {% for maraudes in my_maraudes %}
            <div class="maraude mr-5">
                <div class="front-side">
                    <img 
                    src="{% static 'images/eau.jpg'%}"
                    alt="eau" 
                    class="maraude-image" 
                    />
                    <h1 class="maraude-name"> {{ maraudes.association }}  </h1>
                    <ul class="maraude-list">
                        <li class="maraude-list-item">{{ maraudes.date }}</li>
                        <li class="maraude-list-item">{{ maraudes.heure_debut }}h - {{ maraudes.heure_fin }}h</li>
                        <li class="maraude-list-item">{{ maraudes.arrondissement }}</li>
                        <li class="maraude-list-item">{{ maraudes.adresse }}</li>
                        <li class="maraude-list-item">
                        
                        {% for items in maraudes.produit.all %}{{items}},
                        {% endfor %}</li>
                    </ul>
                    
                    <button class="navigation-button">
                    Plus &gt;&gt;
                    </button>

                </div>
                <div class="back-side center">
                    <button class="navigation-button">
                    &lt;&lt; Retour  <!-- '<<' -->
                    </button>
                    <h3 class="description">{{ maraudes.description }}</h3>
                    <a href="{% url 'my_inscrits' maraudes.id %}" class="maraude-button">Détail</a>
                </div>
            </div>
            {% endfor %}      
            
        </div>
    </section>
</div>
<!-- End of Content -->

{% endblock content %}