{% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>

        <p class="text-center" >{{ message }}</p> 

    </div>
{% endfor %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
{% if user.association.role|stringformat:"s" == "association" %}
<form method="POST">    
    {% csrf_token %}
    
    <p>
    {{form.date.label}}
    {{form.date}}
    {{form.date.error}}
    </p>

     <p>
    {{form.arrondissement.label}}
    {{form.arrondissement}}
    </p>

    <p>
    {{form.description.label}}
    {{form.description}}
    {{form.description.error}}
    </p>

   
    
    <button type="submit">Valider</button>

</form> 

{% endif %}