{% extends 'theme.html' %}
{% load static %}
{% load widget_tweaks %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/ajouterMaraude.css'%}" />
{% endblock %}
{% block content %}


{% if user.association.role|stringformat:"s" == "association" %}



             <!-- Content -->
            <h1 class="center title-add-maraude">Ajouter une maraude</h1>
                <div class="form-edit">
                    <div class="form-add-maraude">
                        <form enctype='multipart/form-data' method="POST">    
                        {% csrf_token %}
                            <fieldset>
                                <legend>
                                    <span class="number">1</span> 
                                    Information générale
                                </legend>
                                {{form.image|attr:"placeholder:Image"}}
                                
                                {{form.heure_debut|attr:"placeholder:Heure de debut"}}
                                {{form.heure_fin|attr:"placeholder:Heure de fin"}}
                                {{form.date|attr:"placeholder:Date"|attr:"type:date"}}
                                {{form.adresse|attr:"placeholder:Adresse"|attr:"type:text"}}
                                {{form.arrondissement|attr:"placeholder:Arrondissement"}}
                                
                        
                            </fieldset>
                            <fieldset>
                                <legend>
                                    <span class="number">2</span> 
                                    Description
                                </legend>
                                {{form.description|attr:"placeholder:Description"}}
                            </fieldset>
                            <fieldset>
                                <legend>
                                    <span class="number">3</span>
                                    Type de distribution
                                </legend>
                                <div class="type-distrib">
                                    {{form.produits}}
                                {{form.produits.error}}
                                </div>
                            </fieldset>
                            <input type="submit" class="form-btn-add-maraude" value="Valider" />
                        </form>
                    </div>
                </div>
            <!-- End of Content -->

{% endif %}

{% endblock content %}