{% extends 'theme.html' %}
{% load static %}
{% block content %}

{% if user.association.role|stringformat:"s" == "association" %}
<div class="content-creation-wrapper">
{% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>

        <p class="text-center" >{{ message }}</p> 

    </div>
{% endfor %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
                <div class="content-wrapper-right">
                    <form class="content-creation-form" method="POST">    
                        {% csrf_token %}
                        <h1 class="content-creation-title-right">
                            Ajouter une nouvelle maraude
                        </h1>
                        <div class="content-creation-input">
                            <label class="nom">{{form.date.label}}</label>
                            {{form.date.error}}
                            {{form.date}}
                        </div>
                        <div class="content-creation-fullname">
                            <div class="content-creation-input">
                                <label class="nom">{{form.heure_debut.label}}</label>
                                
                                    {{form.heure_debut}}
                                    {{form.heure_debut.error}}
                                
                            </div>
                            <div class="content-creation-input">
                                <label class="prenom">{{form.heure_fin.label}}</label>
                               {{form.heure_fin}}
                            </div>
                        </div>
                        <div class="content-creation-input">
                            <label class="adresse">{{form.adresse.label}}</label>
                                {{form.adresse.error}}
                                {{form.adresse}}
                        </div>
                        <div class="content-creation-input">
                           <p class=" font-weight-bold h3" > {{form.arrondissement.label}} </p>
                            {{form.arrondissement.error}}
                            {{form.arrondissement}}
                        </div>
                        <div class="content-creation-input">
                            <label>{{form.description.label}}</label>
                           {{form.description}}
                           {{form.description.error}}
                        </div>
                        
                        <div class="checkbox"><fieldset>
                            <legend class="checkbox-title">{{form.produits.label}}</legend>
                            
                                {{form.produits}}
                                {{form.produits.error}}
                            
                        </fieldset></div>

                        <input type="submit" value="Valider" class="form-btn"/>
                    </form>
                </div>
            </div>
            <!-- End of Content -->

{% endif %}

{% endblock content %}