{% extends 'theme.html' %}
{% load widget_tweaks %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/editerCompteEtMaraude.css' %}">
 
{% endblock %}
{% block content %}

{% if user.association.role|stringformat:"s" == "association" %}


            <!-- End of Content -->



             <!-- Content -->
            <h1 class="center title-edit">Editer votre maraude</h1>
            <div class="center">
            <div class="form-edit">
               <form class="content-creation-form" method="POST"> 
               {% csrf_token %}   
                    <fieldset>
                        <legend>Information générale</legend>
                        <label>
                            <span> {{form.image.label}}</span>
                            {{form.image}}
                        </label>
                        <label>
                            <span> {{form.date.label}}</span>
                             {{form.date}}
                        </label>
                        <label>
                            <span>{{form.heure_debut.label}}</span>
                            {{form.heure_debut}}
                        </label>
                        <label>
                            <span>{{form.heure_fin.label}}</span>
                            {{form.heure_fin}}
                        </label>
                        <label>
                            <span>{{form.adresse.label}}</span>
                            {{form.adresse}}
                        </label>
                        <label>
                            <span> {{form.arrondissement.label}}
                            </span>
                            {{form.arrondissement}}
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend>Description</legend>
                        <label>
                            <span>Message</span>
                          
                           {{form.description}}
                           {{form.description.error}}
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend>Type de distribution</legend>
                        <div class="type-distrib">
                            {{form.produits}}
                            {{form.produits.error}}
                            
                        </div>
                        <label>
                            <input class="form-btn-creation" type="submit" value="Valider"/>
                        </label>
                    </fieldset>
                </form>
            </div>
            </div>
            <!-- End of Content -->

{% endif %}

{% endblock content %}