{% extends 'theme.html' %}
{% load static %}
{% block content %}

<h1>Liste des Maraudes</h1>
<table class="table">
    <thead>
        <th>Association</th>
        <th>Date de maraude</th>
        <th>Description</th>

    </thead>
    <tbody>
    {% for maraude in maraudes %}
        <tr>
            <td><a href="{% url 'maraude_detail' maraude.id %}">{{maraude.association}}</a></td>
            <td>{{maraude.date}}</td>
            <td>{{maraude.description}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}