{% extends 'theme.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>

        <p class="text-center" >{{ message }}</p> 

    </div>
{% endfor %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}


<!-- Content -->
            <section class="content-profil-wrapper">
                <div class="content-profil">
                    <p class="title">
                        Maraude : Details
                    </p>
                  </div>
                <div class="profil-wrapper">
                  <div class="profil-bg">
                    <div class="profil">
                        <div class="image">
                            <img 
                            src="{% static 'images/avatar.png'%}" 
                            alt="Customer image"
                            class="profil-image"
                          />
                        </div>
                        <div class="profil-text">
                                <div class="name_maraude">
                                    <h1 class="profil-fullname">
                                        {{ maraude.association }}
                                    </h1>
                                </div>
                            <p class="profil-paragraph blabla">
                               {{ maraude.description }}
                            </p>
                                <h1 class ="profil-paragraph-date"> Date : {{ maraude.date }} </h1>
                                <h3 class ="profil-paragraph-date"> Bénévoles  : </h3>
                                {% for benevole in maraude.benevole.all %}
                                    <p class ="profil-paragraph-date"><a href="{% url "benevole_public_profil" benevole.id %}">{{ benevole.first_name|capfirst }} {{ benevole.last_name|capfirst  }} </a></p>
                                {% endfor %}
                                </div>
                  </div>
                </div>
              </section>
            <!-- End of Content -->
{% endblock content %}