{% extends 'theme.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/maraudeDetail.css' %}">
 
{% endblock %}
{% block content %}




             <!-- Content -->
            <section class="maraude-detail-wrapper">
                <div class="maraude-detail">
                    <p class="title-maraude-detail">
                        Les maraudes en détail
                    </p>
                    <a  href="{% url 'delete_maraude'  maraude.id %}">Supprimer</a>
                    <a  href="{% url 'edit_maraude'  maraude.id %}">Modifier</a>
                  </div>
                <div class="detail-wrapper">
                    <div class="detail-img">
                        <div class="detail">
                        {% if maraude.association.image %}
                          <img class="detail-image"  src="{{ maraude.association.image.url }}"
                               alt="photo de profil" >
                          {% else %}
                          <img class="detail-image"  src="{% static "images/avatar.png"%}" alt="photo de profil par défaut">
                        {% endif %}
                          
                            <div class="detail-text">
                                <div class="name_maraude">
                                    <h1 class="detail-fullname"> {{ maraude.association }}</h1>
                                </div>
                                <h1 class ="detail-paragraph-date"><span class="underline">Adresse</span> : {{ maraude.adresse }}</h1>
                                <p class="detail-paragraph">
                                   {{ maraude.description }}
                                </p>
                                <p class="detail-paragraph">
                                Distribution :
                                {% for produit in  maraude.produit.all %}
                                   {{ produit }},
                                  {% endfor %}
                                </p>
                                <div class="date-button">
                                    <h1 class ="detail-paragraph-date"><span class="underline">Date</span> :{{ maraude.date }}</h1>
                                    <h1 class ="detail-paragraph-date"><span class="underline">Horaire</span> : {{ maraude.heure_debut }}h {{ maraude.heure_fin }}h</h1>
                                    
                                    <h1 class ="detail-paragraph-date"><span class="underline">Benevoles</span> :
                                    {% for benevole in maraude.benevole.all %}
                                    <p class ="profil-paragraph-date"><a href="{% url "benevole_public_profil" benevole.id %}">{{ benevole.first_name|capfirst }} {{ benevole.last_name|capfirst  }} </a></p>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </section>
            <!-- End of Content -->
{% endblock content %}