.form-btn-creation {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 3rem;
}

.form-btn-add-maraude {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: var(--secondary-color);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid var(--white-color);
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
    margin-top: 2rem;
}

.form-btn-add-maraude:hover {
	cursor: pointer;
}

.detail-btn-benevole {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    transition: background-color 0.5s;
}

.detail-btn-association {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    transition: background-color 0.5s;
}

.btn-list-maraude {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 3rem;
}

.btn-profil-edit {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 3rem;
}

.btn-maraude-edit-detail {
    width: 250px;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 4rem;
}

.btn-maraude-remove-detail {
    width:100%;
    padding: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

@media(max-width: 1000px){
   

   
}

@media(max-width: 870px){
   
}

@media(max-width: 650px){
    
}

@media(max-width: 510px){
   
}

@media(max-width: 450px){
   
}

@media(max-width: 415px){
   
}

@media(max-width: 360px){
    

    
}
