{% extends 'theme.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/maraudeDetail.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}" />

{% endblock %}
{% block content %}
    <!-- Content -->
<section class="maraude-detail-wrapper">
    <div class="maraude-detail">
        <p class="title-maraude-detail">Conditions générales d'utilisation</p>
    </div>
    <div class="detail-wrapper">
        <div class="detail-text">
            <div class="name_maraude">
            <h1 class="detail-fullname">Les cookies</a></h1>
        </div>                      
        <p class="detail-paragraph">
           Le site utilise les cookies afin d'ameliorer la vitesse d'execution du site. En utilisant ce site vous acceptez et autorisé d'allouer une partie de votre espace memoire afin de stocké ces cookies. Aucun cookies n'est utilisé ou partager à des fin commercial.
        </p>
        <div class="detail-text">
            <div class="name_maraude">
            <h1 class="detail-fullname">Données personnelles</a></h1>
        </div>                      
        <p class="detail-paragraph">
           Toutes vos données personnelles sont stocké sur notre site. Aucun partage afin un tiers exterieur n'est effectué. Toutes vos données sont strictement reservé a un usage interne du site. Seul les données obligatoires sont partager avec les autre utilisateur du site. Lorsque vous ajouter de nouvelles informations sur votre profil elles sont automatiquement partager avec les autres utilisateurs du site.
        </p>

        <div class="detail-text">
            <div class="name_maraude">
            <h1 class="detail-fullname">Supprimer mes informations</a></h1>
        </div>                      
        <p class="detail-paragraph">
           Vous pouvez à tous moment supprimer vos informations personnelles via la page de modification de profil. Chaque suppression ou modification validé est definitive nous ne stockons aucune trace de vos données personnelles.<br>
           La suppression de compte est definitive et irreverssible une foi validé. Aucune traçabilité ou historique de votre compte n'est stocké sur le site, toutes vos données sont supprimé definitivement.
        </p>
        <div class="detail-text">
            <div class="name_maraude">
            <h1 class="detail-fullname">Utilisateurs</a></h1>
        </div>                      
        <p class="detail-paragraph">
          Trois types d'utilisateurs sont suceptible d'avoir accès à vos données personnelles en dehors de l'equipe de developpement et des administrateurs : <br>
          Les utilisateurs non inscrits peuvent affiché les details des profils associations <br>
          Les benevoles connectés peuvent afficher les details des profils associations <br>
          Les associations peuvent afficher les détails des profils benevoles <br>
        </p>
        <div class="detail-text">
            <div class="name_maraude">
            <h1 class="detail-fullname">Aide et contact</a></h1>
        </div>                      
        <p class="detail-paragraph">
          Si vous souhaitez une aide ou assisstance veuillez remplir le <a href="{% url 'contact'%}">formulaire de contact</a>
        </p>
    </div>
</section>
<!-- End of Content -->



{% endblock content %}
