<!-- Footer -->

    <footer class="footer">
        <div class="footer-list">
            <h1 class="footer-title">
                Contact
            </h1>
            <div class="footer-link">
                <a href="{% url 'contact' %}" class="footer-link-a">Nous contacter</a>
            </div>
            <div class="footer-link">
                <a href="{% url 'cgu'%}" class="footer-link-a">Conditions générales d'utilisation</a>
            </div>
            
        </div>
        
        
        <div class="footer-list">
            <h1 class="footer-title">
                Où nous trouver
            </h1>
            <div class="footer-link">
                <p class="footer-p">18 rue de la Maraude</p>
            </div>
            <div class="footer-link">
                <p class="footer-p">maraudheure@hotmail.fr</p>
            </div>
            <div class="footer-link">
                <p class="footer-p">01 80 93 13 56</p>
            </div>
        </div>
    </footer>
    <p class="footer-paragraph">
        &copy; Copyright Maraud'heure 2020 -
        Mentions légales
    </p>

        <!-- End of Footer -->