<!-- Footer -->

    <footer class="footer">
        <div class="footer-list">
            <h1 class="footer-title">
                Qui somme nous ?
            </h1>
            <div class="footer-link">
                <a href="#" class="footer-link-a">En bref</a>
            </div>
            <div class="footer-link">
                <a href="#" class="footer-link-a">Nos valeurs</a>
            </div>
            <div class="footer-link">
                <a href="#" class="footer-link-a">Notre histoire</a>
            </div>
            <div class="footer-link">
                <a href="#" class="footer-link-a">Notre organisation</a>
            </div>
        </div>
        <div class="footer-list">
            <h1 class="footer-title">
                Actualités
            </h1>
            <div class="footer-link">
                <a href="#" class="footer-link-a">A la une</a>
            </div>
            <div class="footer-link">
                <a href="#" class="footer-link-a">Agenda</a>
            </div>
        </div>
        <div class="footer-list">
            <h1 class="footer-title">
                Agir avec nous
            </h1>
            <div class="footer-link">
                <a href="#" class="footer-link-a">Maraud'heure recherche</a>
            </div>
            <div class="footer-link">
                <a href="#" class="footer-link-a">Partenaire</a>
            </div>
            <div class="footer-link">
                <a href="#" class="footer-link-a">Faire un don</a>
            </div>
        </div>
        <div class="footer-list">
            <h1 class="footer-title">
                Où nous trouver
            </h1>
            <div class="footer-link">
                <p class="footer-p">18 rue de la Maraude</p>
            </div>
            <div class="footer-link">
                <p class="footer-p">maraudheure@hotmail.fr</p>
            </div>
            <div class="footer-link">
                <p class="footer-p">01 80 93 13 56</p>
            </div>
        </div>
    </footer>
    <p class="footer-paragraph">
        &copy; Copyright Maraud'heure 2020 -
        Mentions légales
    </p>

        <!-- End of Footer -->