{% load static %}

    <nav class="navbar center">
        <div class="navbar-logo">
            <img src="{% static 'images/logo.png' %}" src="images/logo.png" alt="Navbar_Image" class="navbar-image"/>
        </div>
        <div class="navbar-list">
            <a href="#" class="navbar-link center">Trouver une association</a>
            <a href="#" class="navbar-link center">Création de compte</a>
            <a href="#" class="navbar-link center">Connexion</a>
        </div>
    </nav>

<!-- End of Navbar -->