{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
    <title> Maraud'heure </title>
    <!-- CSS Files -->
    <link href="{% static 'css/material-dashboard.css' %}"  rel="stylesheet">
    <link href="{% static 'css/google_font.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}">

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <link
        rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
        type="text/css"
        />
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />

<!--CSS RESPONSIVE-->
   
   
    <link rel="stylesheet" href="{% static 'css/recover_password.css' %}">
   
    <link rel="stylesheet" href="{% static 'css/mes_maraudes.css' %}">
    <link rel="stylesheet" href="{% static 'css/profil.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/create_maraude.css' %}">

    <link rel="stylesheet" href="{% static 'css/inscription_benevole.css' %}">
    <link rel="stylesheet" href="{% static 'css/inscription_association.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">

    <style>
        .geocoder {
        position: absolute;
        z-index: 1;
        width: 50%;
        left: 50%;
        margin-left: -25%;
        top: 10px;
        }
        .mapboxgl-ctrl-geocoder {
        min-width: 100%;
        }
        #map {
        margin-top: 75px;
        }
</style>
    



    </head>

    <body>
        <div class="container">
            <!-- Navbar -->
            <div class="navbar-wrapper">
                {% include 'menu.html' %}
                <!-- End Navbar -->
            </div>
             <!-- Content -->
            <div class="content-creation-wrapper">
            {% block content %}{% endblock content %}
            <!-- End of Content -->
            </div>
        </div>
        <div class="footer-wrapper">
            {% include 'footer.html' %}
        </div>
        <!-- End of Footer -->
        <script src="{% static 'javascript/maraude_detail.js'%}"></script>
        <script src="{% static 'javascript/jquery.min.js'%}"></script>
        <script src="{% static 'javascript/popper.min.js'%}" ></script>
        <script src="{% static 'javascript/bootstrap.min.js'%}"></script>
        <script src="{% static 'javascript/vendor.js'%}"></script>
        

        {% block script %}{% endblock script %}
    </body>
</html>


               
            





