{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
    <title> Maraud'heure </title>
    <!-- CSS Files -->
    

 
     <link rel="stylesheet" href="{% static 'css/core.css' %}" />
     {% block css %}{% endblock %}
    
     <link rel="stylesheet" href="{% static 'css/button.css' %}" />


      


<!--CSS RESPONSIVE-->
   
   
    
    </head>

    <body>
        <div class="container">
            <!-- Navbar -->
            <div class="navbar-wrapper">
                {% include 'menu.html' %}
                <!-- End Navbar -->
            </div>
            {% block message %}
                {% for message in messages %}
                    <div class="warning-edit-add">
                       

                        <p >{{ message }}</p> 

                    </div>
                {% endfor %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="warning-edit-remove"> {{ error }} </p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
             
            {% endblock message %}

             <!-- Content -->
            <div class="content-creation-wrapper">
            {% block content %}{% endblock content %}
            <!-- End of Content -->
            </div>
        </div>







        <div class="footer-wrapper">
            {% include 'footer.html' %}
        </div>
    <!-- End of Footer -->

        <script src="{% static 'javascript/maraude_detail.js'%}"></script>
        <script src="{% static 'javascript/jquery.min.js'%}"></script>
        <script src="{% static 'javascript/popper.min.js'%}" ></script>
        <script src="{% static 'javascript/bootstrap.min.js'%}"></script>
        <script src="{% static 'javascript/vendor.js'%}"></script>
         <script src="{% static 'javascript/jquery.ihavecookies.min.js' %}"></script>




      {% block scripts %}{% endblock  %}
    </body>
</html>


               
            





