{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
    <title> Maraud'heure </title>
    <!-- CSS Files -->
    <link href="{% static 'css/material-dashboard.css' %}"  rel="stylesheet">
    <link href="{% static 'css/google_font.css' %}" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}">

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <link
        rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
        type="text/css"
        />
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />


<!--CSS RESPONSIVE-->
   
   
    <link rel="stylesheet" href="{% static 'css/recover_password.css' %}">
    <link rel="stylesheet" href="{% static 'css/inscription_benevole.css' %}">
    <link rel="stylesheet" href="{% static 'css/inscription_association.css' %}">
    <link rel="stylesheet" href="{% static 'css/profil.css' %}">
    <link rel="stylesheet" href="{% static 'css/profil_public_association.css' %}">
    <link rel="stylesheet" href="{% static 'css/mes_maraudes.css' %}">
    <link rel="stylesheet" href="{% static 'css/accueil.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">



    </head>

    <body>
        <div class="container-fluid">
            <!-- Navbar -->
            <div class="navbar-wrapper">
                {% include 'menu.html' %}
                <!-- End Navbar -->
            </div>
            {% block message %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        <p class="text-center" >{{ message }}</p> 

                    </div>
                {% endfor %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p> {{ error }} </p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
             
            {% endblock message %}
             <!-- Content -->
            
            {% block content %}{% endblock content %}
            <!-- End of Content -->
            
        </div>
        <div class="footer-wrapper">
            {% include 'footer.html' %}
        </div>
        <!-- End of Footer -->
        <script src="{% static 'javascript/maraude_detail.js'%}"></script>
        <script src="{% static 'javascript/jquery.min.js'%}"></script>
        <script src="{% static 'javascript/popper.min.js'%}" ></script>
        <script src="{% static 'javascript/bootstrap.min.js'%}"></script>
        <script src="{% static 'javascript/vendor.js'%}"></script>
        
        <script>
   
            mapboxgl.accessToken = 'pk.eyJ1IjoiemVyYWlzc2UiLCJhIjoiY2tibmUwazdxMXJvaTJycHZxZXpuajhsZSJ9.wi3tj3MLF6IaELpfmHpLzw';
            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            center: [2.333333 , 48.866667],
            zoom: 11
            });

            // Add zoom and rotation controls to the map.
            map.addControl(
            new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl
            })
            );

            
        </script>
    </body>
</html>


               
            





