<!DOCTYPE html>
<html>
  <head>
    <title>Interactive maps for Django web apps</title>
    
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />

  </head>
  <body>
   <h1>Map time!</h1>
   <div id='map' width="100%" style='width: 400px; height: 300px;'></div>
   <script>
   
    mapboxgl.accessToken = 'pk.eyJ1IjoiemVyYWlzc2UiLCJhIjoiY2tibmUwazdxMXJvaTJycHZxZXpuajhsZSJ9.wi3tj3MLF6IaELpfmHpLzw';
    var map = new mapboxgl.Map({
     container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
     center: [2.333333 , 48.866667],
     zoom: 11
    });
   </script>
  </body>
</html> 